#id2{
    font-size: 50px;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
button{
    padding: 20px;
    margin-top: 50px;
    height: 10px;
    width: 100px;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    outline: none;
    box-shadow: -10px -10px 50px 10px rgba(255, 0, 0 ,0.6), 5px 5px 30px 5px rgba(4, 4, 246,0.6);
    
}
    #blue{
        background-color:  blue;
        color: aliceblue;
    }
    #red{
        background-color: red;
        color: bisque;
    }
    #orange{
        background-color: orange;
        color: bisque;
    }
    #black{
        background-color: black;
        color: blanchedalmond;
    }
